
{% extends 'shop/layouts/main.html'%}
{% block title%}
{%load static %}
  Collections | Shopkart
{% endblock title%}
{% block content%}
   <style>
    #alreadyuser{
        border-radius:6px;font-weight:800;color:rgb(0, 0, 0);background-color:rgb(255, 255, 255);
        border: 1px solid black;
        
    }
    #alreadyuser:hover{
        background-color: rgb(252, 246, 246);
        color: black;
        transition: all .3s ease-in-out;
        border: 1px solid black;
    }
    #reg{
        
        border-radius:6px;font-weight:800;background-color:hsl(120, 3%, 6%);color: rgb(255, 255, 255);
        transition: all .3s ease-in-out;
        margin-left: 6px;
        border: none;
    }
    #reg:hover{
        background-color: rgb(252, 246, 246);
        color: black;
        transition: all .3s ease-in-out;
        border: 1px solid black;
    }
   </style>
   <section class="py-5 text-center container img-fluid" id="section1"  style="margin-top:70px; height:250px;background-color:hsl(0, 0%, 93%);border:1px solid black;width:800px;border-radius:8px;">
    <div class="row py-lg-5" >
        <div class="col-lg-6 col-md-8 mx-auto" id="cont1"  style="margin-top: -40px;">
            <h1 class="fw-light">Best Sellers</h1>
            <p class="lead text-bold text-muted" >“Our most popular products based on sales. Updated Hourly.”</p>
            <p>
                <a href="{% url 'login' %}" class="btn btn-primary my-20" id="alreadyuser" >Already user?</a>
                <a href="{% url 'register'%}" class="btn btn-primary my-2" id="reg" >Register</a>
            </p>
            
        </div>
    </div>
    
   </section>
   <section class="py-4 my-4">
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3" style="font-weight: 700;color:black;font-size:28px;">Categories</h4>
                <hr style="border:1px solid black;"/>
                {% include 'shop/inc/message.html'%}
            </div>
           {% for item in catagory %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-4" id="card-b" style="border: 1px solid black;">
                    <a href="{% url 'collections' item.name %}" style="text-align: center;">
                    <img src="{{item.image.url}}" class="card-image-top img-fluid rounded-top" alt="Categories" style="height:270px;padding:10px;border-radius:8px;width:400px;"/>
                    <div><hr style="border:1px solid #4d4e4e;"/></div>
                    </a>
                    <a href="{% url 'collections' item.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                    </a>
                </div>
            </div>
           {% endfor %}      
    </div>
</section>
{% endblock content%}