{% extends 'shop/layouts/main.html' %}
{% block title %}
   Registrations | Shopkart
{% endblock title %}
{% block content%}
   <div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
         <h1 style="color: black;font-weight:700;">User Login <i class="fa fa-user fa-md"></i></h1>
         <hr style="border:1px solid black"/>
         {% include 'shop/inc/message.html'%}
        </div>
        
    </div>
    <section class="py-4 my-3">
      <div class="contianer">
         <div class="row">
            <div class="col-6">
               <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  <div class="mb-4" style="font-weight: bold;color:black">
                     <label for="" class="form-lable " style="margin-bottom: 5px;">Email Id:</label>
                     <input  type="email" class="form-control" id="email" name="email" placeholder="Enter Your Emailid"/>
                  </div>
                  <div class="mb-4" style="font-weight: bold;color:black">
                     <label for="" class="form-lable my-2">Password</label>
                     <input type="password" id="password" name="password"  class="form-control" placeholder="Enter password"/>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
               </form>
            </div>
         </div>
      </div>

    </section>
   </div>
{% endblock content%}