<style>
  footer{
    background-color:black;
    color: white;
  }
  a.me-4 {
    padding:7px;border-radius:3px;
  }
  a.me-4:hover{
    padding: 6px;
    border: 2px solid rgb(255, 255, 255);
    transition: all .2s ease-in;
    background-color: rgb(255, 255, 255);
  }
  a.me-4, #git{
    color: white;
  }
  a.me-5, #git:hover{
    background-color:#1a7f37;
    color: rgb(0, 0, 0);
    border: 2px solid #1a7f37;
  }
</style>
<footer class="text-center text-lg-start ">
  
    <section class="container d-flex justify-content-center justify-content-lg-between p-4 " id="link">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div style="margin-top: 20px;">
        <a href="" class="me-4 text-reset" ><i class="fa fa-facebook fa-lg" style="color: #0037c0;"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-twitter fa-lg" style="color: #00abec;"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-linkedin fa-lg" style="color: #1a75bb;"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-instagram fa-lg" style="color:#df2d74;"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> ShopKart</h6>
            <p>
              shopkart.com is a one stop destination for your family's fashion needs.
               We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Make Money with Us</h6>
            <p><a href="#!" class="text-reset">Sell on ShopKart</a></p>
            <p><a href="#!" class="text-reset">Advertise Your Products</a></p>
            <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
            <p><a href="#!" class="text-reset">Fulfilment by ShopKart</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="#!" class="text-reset">FAQ</a></p>
            <p><a href="#!" class="text-reset">Feedback</a></p>
            <p><a href="#!" class="text-reset">About Us</a></p>
            <p><a href="#!" class="text-reset">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home fa-lg"></i> ShopKartOfficial</p>
            <p><i class="fa fa-envelope"></i>   Shopping@Shopkart.com</p>
            <p><i class="fa fa-phone fa-lg"></i>  +91 7648729207</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      Copyright &copy; 2024  <a class="text-reset fw-bold" href="https://tutorjoes.in/"> Shopkart.in</a>
    </div>
  </footer>